* text=auto# used to remove files from deployment using `git archive`
# git files
.gitattributes export-ignore
.gitignore export-ignore
# drush files
build.make export-ignore
patches.txt export-ignore
# zen 5.x files
sites/all/themes/*/sass export-ignore
sites/all/themes/*/sass-extensions export-ignore
sites/all/themes/*/images-source export-ignore
sites/all/themes/*/fonts export-ignore
sites/all/themes/*/config.rb export-ignore
sites/all/themes/*/STARTERKIT export-ignore
# drupal directories
scripts export-ignore
profiles/minimal export-ignore
profiles/standard export-ignore
profiles/testing export-ignore
# general text files
*README.txt export-ignore
*readme.md export-ignore
*README.md export-ignore
*README export-ignore
*LICENSE.txt export-ignore
*license.txt export-ignore
*LICENSE.html export-ignore
COPYRIGHT.txt export-ignore
CHANGELOG.txt export-ignore
*changelog.txt export-ignore
*changelog.html export-ignore
*CHANGES.html export-ignore
*INSTALL.html export-ignore
*TODO.txt export-ignore
*API.txt export-ignore
*api.html export-ignore
*KNOWN_ISSUES.txt export-ignore
UPGRADE.txt export-ignore
web.config export-ignore
MAINTAINERS.txt export-ignore
INSTALL*.txt export-ignore
# patches
*.patch export-ignore
# tests
*.test export-ignore
# contrib (these could be security holes)
sites/all/libraries/plupload/examples export-ignore
sites/all/libraries/plupload/docs export-ignore
sites/all/libraries/jquery.jcarousel/examples export-ignore
sites/all/libraries/jquery.jcarousel/index.html export-ignore
sites/all/libraries/jquery.jcarousel/style.css export-ignore
sites/all/libraries/jquery.jcarousel/skins export-ignore
sites/all/libraries/jquery.jcarousel/lib/jquery.jcarousel.js export-ignore
sites/all/libraries/jquery.jcarousel/lib/jquery-1.4.2.min.js export-ignore
sites/all/libraries/colorbox/colorbox.ai export-ignore
sites/all/libraries/colorbox/*/*.html export-ignore
sites/all/libraries/colorbox/content export-ignore
sites/all/libraries/colorbox/jquery.colorbox.js export-ignore
sites/all/modules/contrib/ckeditor/images/buttons/index.html export-ignore
sites/all/modules/contrib/openlayers/tests/js/qunit/index.html export-ignore